
body{
    text-align: center;
    font-family:'Fantasy';
    color: darkolivegreen;
    background-color: lightcyan;
}

p {
    font-size: 200;
}

h3 {
    font-size: 20 px;
}
h5 {
    font-size: large:
}
